<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
      <div class="navbar">
          <div>
              <a [routerLink]="['']"><img src="assets/images/logo.png" alt="logo" style="display: flex; "width="120px"></a>
          </div>
          <nav>
            <ul id="MenuItems" [ngClass]="status ? 'show' : 'hide'">
                      <li><a [routerLink]="['']">Anasayfa</a></li>
                      <li class="dropdown">
                          <a href="#">Kategoriler <i class="fas fa-caret-down"></i></a>
                          <div class="dropdown-content">
                            <a [routerLink]="['/roman']">Roman</a>
                            <a [routerLink]="['/bilimkurgu']">Bilim Kurgu</a>
                            <a [routerLink]="['/kurgu']">Korku</a>
                            <a [routerLink]="['/polisiye']">Polisiye</a>
                            <a [routerLink]="['/fantastik']">Fantastik</a>
                            <a [routerLink]="['/macera']">Macera</a>
                            <!-- Diğer kategorileri burada listele -->
                          </div>
                        </li>
                      <li><a [routerLink]="['/products']">Kitaplar</a></li>
                      <li><a [routerLink]="['/about']">Hakkında</a></li>
                    
                      <li> <div class="search-container">
                        <input type="text" id="search" [(ngModel)]="searchKey" placeholder="Ara..." (input)="onSearchKeyChange()">
                        <button id="search-button" (click)="searchBooks()">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                      <div class="search-results" *ngIf="searchResults.length > 0">
                        <ul>
                          <li *ngFor="let book of searchResults">
                            <a [routerLink]="['/product-details', book.id]">{{ book.bookName }}</a>
                          </li>
                        </ul>
                      
                      </div>
                      </li>
                      <li *ngIf="isLoggedIn">
                        <a style="margin-right: 0.9%;" [routerLink]="['/cart']"><img src="assets/images/cart.png" width="30px" height="30px" style="vertical-align: middle; margin-top: -10px;" ></a>
                      </li>
                          
                              <li>
                                <a class="nav-link" href="/login">
                                  <i *ngIf="!isLoggedIn" class="fa fa-user" style="font-size:4vh; color: rgb(0, 0, 0); vertical-align: middle; margin-top: -7px;">
                                  </i>
                                </a>
                              </li>
                             
                              <li *ngIf="isLoggedIn">
                                        <button id="dropdownBtn" pButton type="button" (click)="menu.toggle($event)" ><img id="homeAvatar" src="{{ user?.userPhoto }}" style="max-width:30px ;" class="avatar" alt="Avatar"> {{ currentUser?.userName }} <i class="pi pi-angle-down"></i></button>
                                 
                                    <p-menu #menu [model]="items" [popup]="true" [appendTo]="'body'" class="custom-dropdown-menu"></p-menu>
                            </li>
                            
                         
              </ul>
          </nav>
      <div class="giris">
        <a class="nav-link" href="/login">
          <i *ngIf="!isLoggedIn" class="fa fa-user" style="font-size:4vh; color: rgb(0, 0, 0); vertical-align: middle; margin-top: -7px;">
          </i>
        </a>
        <a *ngIf="isLoggedIn" style="margin-right: 0.9%;" [routerLink]="['/cart']"><img src="assets/images/cart.png" width="35px" height="35px" style="vertical-align: middle; margin-top: -9px;" ></a>
      </div>  
      <img src="assets/images/menu.png" class="menu-icon" id="menutoggle"  (click)="menutoggle()">
      </div>